<!DOCTYPE html>
<html lang="en">
<head>
<title>View</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Lucid Dreams">
<link href="normalize.css" rel="stylesheet">
<link href="../static/css/viewstyle.css" rel="stylesheet"> 
<!--[if lt IE 9]>
   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"> </script>   
<![endif]--> 
</head>
<body>
<div id="wrapper">
  <div id="myflexcontainer">  
    <main role="main"> 
    <div class="container">
    <img src="../static/images/viewbgr.gif" width="1264" height="1663" alt="View Background" >
    <div class="businessname"><h1>YOUR LUCID DREAMS</h1></div> 
    <div class="pageheading">
    <h2>Hello {{givenname}} Let's read this lucid dream</h2>
    <div><a href="/dreams">Dashboard<a></div>
    <div><a href="/logout">Logout</a></p>
    </div>
    <h4>{{dream.title}}</h4>
    <p>{{dream.description}}</p>
    <p>{{dream.key_words}}</p>
  </div>
    
  
      <div class="silencetab"><a href="">Lorem ipsum</a></div>
      <div class="intentiontab"> <a href="">Lorem ipsum</a></div>
      <div class="tenantsbuyerstab"> <a href="">Lorem ipsum</a></div>    
      <div class="landlordssellerstab"> <a href="">Lorem ipsum</a></div>  
      <div class="additionalstab"> <a href="">Lorem ipsum</a></div> 
      <div class="rumblingstab"> <a href="">Lorem ipsum</a></div>  
      <div class="footertab">Copyright &copy; 2020 yourluciddreams.com</div>    
      <div class="credittab"> <a href=""> More</a></div>
    </div> <!--end of container -->  
    </main> <!-- end of main -->
  </div> <!-- end of flex container --> 
</div> <!-- end of wrapper -->
</body>
</html>
